#!/bin/sh


xrandr --dpi 192
export GDK_SCALE=2
#xmodmap .xmodmaprc
setbg &		# Set the background
sxhkd  &	# Bind keys
xsetroot -cursor_name left_ptr &
xset r rate 500 30 &	# Speed xrate up
xset s off -dpms &
unclutter &		# Remove mouse when idle
dunst &                 # dunst for notifications
#mpdupdate &
#conky &
nm-applet &
~/.config/polybar/launch.sh &
picom -b --config ~/.config/picom.conf &
#xrandr --output LVDS1 --mode 1366x768 --output HDMI1 --mode 1920x1080 --right-of LVDS1 &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
#xwallpaper --no-randr /usr/share/backgrounds/magyarch/wallpaper.png &
#(sleep 5s && zathura ~/.local/share/Magyarch-xmonad.pdf) &
sleep 5s && notify-send 'Nyomja meg a Super+F1-et a használati utasításért.' -t 10000 &
#trayer --edge top --align right \
#    --SetDockType true --SetPartialStrut true --expand true \
#    --width 5 --height 23 \
#    --transparent true \
#    --alpha 0 \
#    --tint 0xc3cdc8 &
#stalonetray &
#redshift -l 47.162495:19.503304 -t 6000:3600 -g 0.8 -m randr -v &
udiskie &
#change_background &







